/* COLORS */
color-theme{
    color: 
    #efc8b1
    #514644
    #3c887e
    #f7dba7
    #a1674a
    #002500
    #b2fbfb
    }

/*GLOBAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', monospace;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: #efc8b1;
}

a:hover{
    color: #b2fbfb;
    transition: 0.2s;
}

li,button,label,p{
    font-size: 2rem;
}

.button{
    padding: 1rem 3rem;
    background: none;
    color: #b2fbfb;
    border: solid;
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: #b2fbfb;
}

.button:hover{
    border-color: #b2fbfb;
    color: #a1674a;
    transition: 0.2s;
    background-color: #b2fbfb;
}
/*Nav Section*/

.main-head{
    background: #514644;
}

nav{
    max-height: 7vh;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

nav ul{
    display: flex;
    flex: 10 1 20rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 1.5rem;
}

#logo{
    padding: 2rem;
    flex: 1 1 50rem;
    height: 90px;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

/* WELCOME PAGE */

.hero{
    background: linear-gradient(180deg,rgba(81,70,68), rgba(0,0,0,0.7)), url("img/krisztian-matyas-CgHXJYDd8og-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    color: #efc8b1;
    font-size: 7rem;
    font-weight: 400;
    font-style: italic;
}

.hero h2{
    padding: 3rem;
    color: #a1674a;
}

/*SIGNUP ORGANIZATION*/
.background{
    /*background-image: linear-gradient( #efc8b1, #a1674a);*/
    background: linear-gradient(#efc8b1, #a1674a);
    min-height: 93vh;
  }
.signup-box{
    width: 280px;
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color:#514644;
    z-index: 1;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
  }
  .textbox input{
    border:none;
    outline: none;
    background: none;
    color:#b2fbfb;
    letter-spacing: 2px;
  }

.textbox input::placeholder{
    color: #514644;
    margin-left: 0px;
    
  }
  
  i{
    height: 2rem;
    width: 2rem;
  }

.img-container img {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
  
  }

.signupOrg-img img {
    width: 40%;
    bottom: 0;
  }
  
  #organization {
    color: #b2fbfb;
  }

  #tourist{
      color:#b2fbfb;
  }